/* --------- Theme --------- */

html, body{
    height: 100%;
}

body{
    background: url('../images/colored-pencils.jpg') no-repeat top center fixed #FFF;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Glegoo', serif;
}

h2{
    font-size:20px;
    color: #6575B6;
    margin:20px 0;
}
h3{
    font-size:15px;
}
h4{
    font-size:13px;
    margin:20px 0;
}

img{
    max-width:100%;
}

a{
    color: #E24242;
    text-decoration:underline;
}
a:hover, a:focus, a:active{
    color: #D5902A;
    text-decoration: none;
}

.my-lead{
    font-style: italic;
    font-size: 16px;
    color:#999;
}

.img-container{
    margin-top:20px;
    text-align: center;
}
.img-description{
    font-size:12px;
    text-align:center;
}

p{
    text-align: justify;
}

.container{
    max-width:960px;
}

.site-header{
    background:#FFF;
    margin-top: 60px;
}

#main-nav{
    margin-bottom:20px;
}

#main-nav a{
    text-decoration: none;
}

#site-img{
    display:block;
    margin: 30px auto 0 auto;
}

#main-content{
    background:#FFF;
    margin-bottom:20px;
    padding-bottom:20px;
}

.content-container{
    transition:opacity .4s ease-out;
    padding:0 20px;
}
.content-container.empty{
    opacity:0;
}
.content-container.active{
    opacity:1;
}

.site-footer{
    background: #FFF;
    border-top: 1px dashed #DDD;
    padding: 20px;
}

.sidebar-nav {
    padding: 9px 0;
}

.site-title, .site-title:hover, .site-title:focus{
    font-size: 40px;
    /* font-family:Georgia; */
    /* font-style: italic; */
    margin: 20px 0 30px 0;
    display: block;
    text-align: center;
    color: #949494;
    text-decoration: none;
}

.nav-tabs{
    background: #EBEBEB;
}
.nav-tabs a{
    color: #000;
}

.nav>li>a{
    padding:10px;
}

/* --------- Bootstrap dropdown hover --------- */

/*.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}*/

.dropdown .dropdown-menu {
    border-top:0;
    display: block !important;
    visibility: hidden; opacity: 0;
    transform: translate(0px, 10px);
    transition: visibility 0s linear .3s, opacity .3s linear, transform .3s ease-out;
}

.dropdown.open .dropdown-menu {
    visibility:visible; opacity:1;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s;
    transform: translate(0px, 0px);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    border-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #000;
background-color: #FAFAFA;
border-color: #FAFAFA;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    color: #000;
background-color: #CCC;
background-image: none;
}

.nav-pills>li>a {
border-radius: 0;
}

/*.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}*/

.caret{
    margin-left: 8px;
    
}