<header class="site-header container">

  <div class="wrapper">

    <img src="images/miss-su.png" alt="" id="site-img">
    <h1><a class="site-title" href="index.html">Miss Su's Teaching Portfolio</a></h1>

    <nav id="main-nav" class="site-nav">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-pills" id="myTab">

                <li class="active">
                    <a href="about-me/index.html">About Me</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Curriculum<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="curriculum/literacy.html">English</a>
                        </li>
                        <li>
                            <a href="curriculum/numeracy.html">Maths</a>
                        </li>
                        <li>
                            <a href="curriculum/science.html">STEAM and Investigation</a>
                        </li>
                        <li>
                            <a href="curriculum/inquiry.html">Inquiry</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teaching Strategies<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="teaching-strategies/eal.html">EAL</a>
                        </li>
                        <li>
                            <a href="teaching-strategies/ict-tools.html">ICT Tools</a>
                        </li>
                        <li>
                            <a href="teaching-strategies/deep-thinking.html">Deep Thinking</a>
                        </li>
                        <li>
                            <a href="teaching-strategies/differentiation.html">Differentiation</a>
                        </li>
                        <li>
                            <a href="teaching-strategies/special-needs.html">Special Needs</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assesments<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="assesments/assesment-learning.html">Assessment for, of and as learning</a>
                        </li>
                        <li>
                            <a href="assesments/diagnostic.html">Diagnostic, Ongoing formative and summative assessment</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="classroom-management/index.html">Classroom Management</a>
                </li>

                <li>
                    <a href="collaboration-and-communication/index.html">Collaboration and Communication</a>
                </li>

                <li>
                    <a href="professional-development/index.html">Professional Development</a>
                </li>

            </ul>
        </div>
    </nav>

  </div>

</header>
